/*
Name: Jason A. Ruby
Description: Blue Paw Development site
Copyright:
*/

/** ALL (*), BODY, ANCHORS **/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff url(../images/bodybg.png) repeat-x;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #222222;
	text-align: center;
}

a img {
	border: 0;
}

a {
	text-decoration: none;
}

.hidden {
	text-indent: -9000px;
	background: inherit;
}

/** HEADER **/

#header {
	display: flex;
	width: 100%;
	border-top: 1px solid #000;
}

#headerLeft {
	display: flex;
	align-items: center;
	margin-left: 35px;
	padding-left: 30px;
}

#headerText {
	margin-left: 50px;
	margin-right: 35px;
	text-align: left;
}

#headerText a {
	color: #ffe03b;
}

#headerRight {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-right: 35px;
	padding-right: 35px;
}

#headerTagLine {
	flex: 1;
	padding-top: 40px;
	color: #ffe03b;
	text-align: center;
}

#headerTagLine h2 {
	font-size: 1.3em;
	letter-spacing: -0.5px;
	font-weight: normal;
	font-style: italic;
}

#headerNav {
	flex: 1;
	padding-top: 29px;
	padding-left: 180px;
}


 /** TOP NAV **/

#topnav {

}

#topnav a {
	display: block;
	float: left;
	text-align: center;
	width: 95px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	color: #a0a0a0;
	text-transform: uppercase;
	font-size: 0.7em;
	background-image: url(../images/tab.png);
	background-position: bottom left;
	background-repeat: no-repeat;
}

#topnav a:hover {
	background-image: url(../images/tab.png);
	color: #000;
	background-position: top left;
	background-repeat: no-repeat;
}

#topnav .active {
	background-image: url(../images/tab.png);
	color: #000;
	background-position: top left;
	background-repeat: no-repeat;
}

/** BODY/MAIN **/

#content {
	clear: both;
	text-align: left;
	width: 650px;
	margin: 20px auto 0 auto;
	padding: 5px;
	width: 655px;
}

#content h2 {
	padding-left: 8px;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-left: 15px;
	letter-spacing: -1px;
	margin-bottom: 10px;
	color: #f06800;
}

#content p {
	font-size: 1.063em;
	/*font-size: 0.9em;*/
	line-height: 1.5em;
	color: #222222;
}

#content p a {
	color: #324A97;
}

#content p a:hover {
	color: #fff;
	background: #324A97;
}

#content blockquote {
	margin: 15px;
	border: 1px solid #b0b0b0;
	padding: 10px;
	width: 500px;
	background: #f4f4f4;
	font-size: 0.9em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a0a0a0;
}

#content abbr {
	border-bottom: 1px dotted #8f8f8f;
}


/** MISC **/

#quotes {
	text-align: center;
}

#techTable {
	width: 500px;
	display: flex;
	justify-content: space-around;
}


#scroll {
	padding: 15px 0 10px 200px;
}

#latest {
	width: 100%;
	background: #333333 url(bg2.png) repeat-x;
	font-size: 0.7em;
	padding-top: 80px;
}

#container2 {
	clear: both;
	background: #333333;
	text-align: left;
	width: 650px;
	color: #fff;
	margin: 0 auto;
}

#container2 h3 {
	font-size: 1.2em;
	text-transform: uppercase;
	margin-left: 10px;
	letter-spacing: -1px;
	margin-bottom: 10px;
	color: #F58220;
}

.name {
	color: #c0c0c0;
}

.blocklinks {
	width: 320px;
	float: left;
	background: #333333;
}

.blocklinks a.link {
	display: block;
	padding: 10px;
	background: inherit;
	color: #fff;
	border-top: 1px dotted #a0a0a0;
}

.blocklinks a:hover.link {
	color: #DDD;
	background: #525252;
	border-top: 1px dotted #a0a0a0;
}

#articles {
	width: 320px;
	float: right;
	background: #333333;
}

/** FOOTER **/

#footer {
	width: 100%;
	clear: both;
	text-align: center;
	background: #333333;
	font-size: 0.8em;
	margin-top: 105px;
	color: #a0a0a0;
}

/* Portfolio Animation */
.grid {
	padding: 20px 20px 100px 10px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
